<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <sapadm_password><![CDATA[{{ master_password }}]]></sapadm_password>
    <password><![CDATA[{{ master_password }}]]></password>
    <system_user_password><![CDATA[{{ master_password }}]]></system_user_password>
</Passwords>